@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif, Arial, Helvetica;
}
input:focus {
  border: none;
  outline: none;
}

.logo {
  height: 2.3rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
a:hover {
  color: hsl(121, 44%, 49%);
}
p {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.header-bg {
  width: 100%;
}
.mySlides {
  display: none;
}

.slideshow-container {
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translate(0, -14%);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

.header {
  position: relative;
  padding-bottom: 46%;
}
.header__nav {
  position: sticky;
  background: hsl(217deg, 73%, 12%);
  width: 100%;
  margin-top: 2rem;
  padding: 1rem clamp(2rem, 7vw, 8rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header__nav__ul {
  display: block;
  display: flex;
}
.header__nav__ul a {
  margin: 0 1.3rem;
  font-family: "poppins";
  font-size: 1rem;
}
.open-nav, .close-nav{
  display: none;
  cursor: pointer;
}
.close-nav{
  cursor: pointer;
  position: relative;
  margin: -.7rem 0;
  float: right;
  /* right: .5rem; */
}
.close-nav span{
  height: 4px;
  width: 25px;
  display: block;
  border-radius: 5px;
  background: white;
  position: absolute;
}
.close-nav span:nth-child(1){
  transform: rotate(45deg);
}
.close-nav span:nth-child(2){
  transform: rotate(-45deg);
}
.open-nav span{
  height: 4px;
  width: 30px;
  background: white;
  display: block;
  margin: 4px 0;
  border-radius: 5px;
}

.about-us {
  display:flex;
  flex-wrap: wrap;
}

.about-us figure img:nth-child(1) {
  width: 100%;
}
.about-us figure img:nth-child(2) {
  width: 50%;
  transform: translate(120%, -70%);
}
.about-us h2,
.what-we-do h2 {
  color: hsl(217, 73%, 12%);
  font-size: 2.5rem;
  margin: 2rem 0;
}
.about-us p {
  color: hsl(217, 73%, 12%);
  margin: 2rem 0;
}
.about-us > div {
  padding: 2rem clamp(2rem, 7vw, 8rem);
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 350px;
}
.about-us figure{
  flex-grow: 1;
  flex-basis: 450px;
}

 .contact-btn {
  background: hsl(121, 44%, 49%);
  padding: 1rem 1.5rem;
  font-family: "Work Sans";
  font-weight: 500;
}
.contact-btn:hover {
  color: white;
}
.what-we-do {
  padding: 1rem clamp(1rem, 7vw, 8rem);
}

.what-we-do > div {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  gap: 2rem;
}

.what-we-do > div > div {
  background: hsl(191, 100%, 43%);
  padding: clamp(1.5rem, 3vw, 4rem);
  border-radius: 3px;
  color: white;
  flex-grow: 1;
  flex-basis: 250px;
}

.what-we-do > div img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  padding: 1.2rem;
  background: rgb(255, 255, 255, 0.2);
}
.what-we-do p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Work Sans";
}
.what-we-do h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: "Work Sans";
}
.join {
  background: hsl(217, 73%, 12%);
  color: white;
  padding: 2rem clamp(1rem, 7vw, 8rem);
  display:flex;
  flex-wrap: wrap;
}
.join > div{
  flex-basis: 350px;
  flex-grow: 1;
}
.join h2,
.testimony h2 {
  font-size: 2.5rem;
}
.join p {
  font-size: 1rem;
  margin: 1rem 0;
}
.join .suscribe {
  display: flex;
  justify-content: right;
  height: fit-content;
}
.join .suscribe > div {
  background: white;
  width: fit-content;
  height: fit-content;
}

.join button,
.join input {
  font-size: 1rem;
  font-family: "Work Sans";
  border: none;
  height: fit-content;
  background: transparent;
  height: fit-content;
  padding: 0 1rem;
  margin: 1rem 0;
}
.join button {
  border-left: 1px solid hsl(217, 73%, 12%, 0.5);
  color: hsl(166, 99%, 41%);
  cursor: pointer;
}
.count {
  background: hsl(191, 100%, 43%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  text-align: center;
  padding: 1rem clamp(1rem, 7vw, 8rem);
}
.count p {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Work Sans";
  line-height: .8rem;
  flex-grow: 1;
  flex-basis: 200px;
  margin: 2rem 0;
}
.count span {
  font-size: 1rem;
  font-weight: 500;
}
.count small {
  font-size: 1rem;
  font-weight: 200;
}

.testimony {
  background: hsl(217, 73%, 12%);
  color: white;
  padding: 6rem 0 2rem clamp(1rem, 7vw, 8rem);
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.testimony > div, .testimony figure{
  flex-basis: 350px;
  flex-grow: 1;
}
.testimony > div{
  margin-right: 1rem;
}
.testimony img {
  margin: 1.2rem 0;
}
.testimony p {
  margin: 2rem 0 4rem 0;
  font-size: 1rem;
}

.testimony button {
  color: white;
  border: none;
  background: hsl(157, 77%, 52%);
  padding: 12px;
  font-size: 18px;
}
.testimony button:nth-child(2) {
  margin-left: 2rem;
}

.testimony figure img {
  width: 100%;
}
footer {
  background: hsl(217, 73%, 12%);
  color: white;
  padding: 4rem clamp(1rem, 7vw, 8rem);
}
footer > section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
footer .logo{
  margin-bottom: 2rem;
}
footer h4 {
  color: white;
  font-size: 1.2rem;
}

footer .social-links > div {
  display: flex;
  gap: 1rem;
}
.social-links > div img {
  height: 40px;
  padding: 10px;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-links > div img:hover {
  background: hsl(157, 77%, 52%, 0.7);
}
footer nav {
  flex-basis: 600px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .about-logo{
  flex-basis: 300px;
  flex-grow: 1;
}
footer h4 {
  margin-bottom: 3rem;
}
footer ul li {
  margin: 1.5rem 0;
}
footer .contact a {
  display: block;
  margin: 1.5rem 0;
}
footer .copyright{
  text-align: center;
  margin: 6rem 2rem 0 2rem;
  border-top: .2px solid hsl(0, 0%, 70%, .5);
  padding-top: 3rem;
}

@media(max-width:900px){
.header__nav__ul{
  display: none;
  flex-direction: column;
  position: absolute;
  background: hsl(217, 73%, 12%);
  padding: 2rem;
  top: .5rem;
  border-radius: 8px;
  right: clamp(1rem, 6.5vw, 8rem);
}
.header__nav__ul a{
  margin: .7rem 0;
}
.open-nav, .close-nav{
  display: block;
}

.about-us figure img:nth-child(2) {
  width: 50%;
  transform: translate(90%, -70%);
}
}


